.hamburger {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 18px;
  height: 15px;
  z-index: 15;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger__plank {
  display: block;
  background-color: #6C7982;
  height: 2px;
  border-radius: 10px;
}

.hamburger--active{

  .hamburger__plank:nth-child(1) {
    opacity: 0;
  }

  .hamburger__plank:nth-child(2) {
    transform: rotate(45deg);
  }

  .hamburger__plank:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px) translateX(5px);
  }
}