.login {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 80px 50px;

  &--hidden {
    display: none
  }
}

.login__image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #232F3D;
  display: flex;
  justify-content: center;
  align-items: center;

  &--elem {
    object-fit: cover;
  }
}

.login__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.login__subtitle {
  color: $grey;
  margin-bottom: 35px;
}

.login__form {
  padding: 15px 15px 5px 15px;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__from-input {
  color: $grey;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $grey;
  padding: 0 5px 10px;
  margin-bottom: 40px;
  outline: none;

  &:focus, &:hover, &:active {
    color: #fff;
    border-color: $blue;
  }
}

.login__submit {
  border-radius: 5px;
  padding: 15px 40px;
}

.login__error {
  font-size: 15px;
  color: #f00;
}